
@import "couleur.scss";
@import "character.scss";
@import "input.scss";


body { 
    background: linear-gradient(to right, $Purple, $Corail);
    color: white;
}

header {
    position: relative;


    h1 {
        font-family: 'Permanent Marker', cursive;
        text-transform: uppercase;
    }
    
    #Character-research {
    position: absolute;
    margin-left: 1030px;
    margin-top: 14px;
    border-radius: 7px;
    border: none;
    height: 28px;
    width: 175px;
    color: rgb(212, 209, 209);
    }

    hr {
        color: white;
        margin-top: -7px;
        margin-bottom: 60px;
    }
}

#container {

    display: grid;
    width: 94,5%;
    height: auto;
    margin: auto;
    padding-bottom: 50px;
    grid-template-columns: repeat(auto-fill, 220px);
    justify-content: center;
    grid-column-gap: 90px;
    grid-row-gap: 20px ;


    .character {
       width: auto;
       height: auto;
       background-color: $Grey;
       filter: drop-shadow(10px 10px 4px $Grey);
       border-radius: 25px;
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;

            .name {
                padding-left: 15px;
                text-transform: uppercase;
                font-family: 'Permanent Marker', cursive;
            }

            .description {
                padding-left: 10px;
                color: rgb(167, 154, 154);
                font-size: 12px;
            }

            .shortDescription {
                padding-left: 10px;
                color: rgb(167, 154, 154);
                font-size: 12px;
            }

            .seeCharacter {
                background-color: $Grey;
                color: white;
                border-radius: 10px;
                width: 100px;
                padding: 3px;
                border: solid white 0,5px;
                margin-left: 10px;
                margin-bottom: 10px;
            }

            .image {
                width: 100px;
                height: 100px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 20px;
                border-radius: 50%;
            }
    }
}

footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

    #footerButton {
        width: 300px;
        height: 25px;
        background-color: $Blue;
        color: white;
        border: none;
        border-radius: 7px;
        font-weight: 600;
    }
}

.updelBtn {
    color: yellow;
}

figcaption {
    font-size: small;
    font-style: italic;
}

